<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category</h4>
                    <a href="/admin/category/new_category" class="btn btn-primary mb-3">Create New Category</a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Category ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${allCategories}">
                                <td th:text="${category.id}">Category ID</td>
                                <td th:text="${category.name}">Name</td>
                                <td>
                                    <a class="btn btn-warning btn-sm" th:href="@{'/admin/category/edit/' + ${category.id}}">Edit</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-danger btn-sm" th:href="@{'/admin/category/delete/' + ${category.id}}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
